.card-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 210px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.51);
  border: 1px solid rgb(230, 230, 230);
  margin-top: 20px;
  cursor: pointer;
  color: #4074b5;
}

.card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.card-category {
  margin-top: 20px;
}
.card-container:hover {
  background-color: #4075b571;
  color: #4074b5;
}
